@font-face {
    font-family:'SF Pro Display';
    font-style:normal;
    font-weight:100;
    src:url(/sf-pro-display_semibold.ttf)
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'SF Pro Display';
}
html,body{
    height: 100%;
    width: 100%; 
}
#main{
    height: 100%;
    width: 100%;
    background-color: #0c0c0c;
    display: flex;
}
/* #logo{
    background-color: red;
}
#logo h1 img{
    height: 40px;
} */
#left h1 img{
    height: 30px;
    margin-right: 10px;
    
}
#left h1{
    height: 30px;
    margin-bottom: 20px;
    font-size: 30px;
    display: flex;
    align-items: center;
}

#left{
    height: 100%;
    width: 25%;
    /* background-color: aqua; */
    display: flex;
    text-decoration: none;
    flex-direction: column;
    color: #fff;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
#left #below{
     display: flex;
     flex-direction: column;
     /* background-color: blue; */
     height: 90%;
     width: 80%;
     gap: 30px;
}
#left #below a{
    display: flex;
    gap: 20px;
}
#left a{
    text-decoration: none;
    color: #fff;
}
/* ___________________________________________________________________________ */

#mid{
    height: 100%;
    width: 50%;
    /* background-color: rgb(18, 126, 74); */
}

#search{
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    /* background-color: rgb(234, 0, 255); */
}
#search-right input{
    height: 30px;
    width: 500px;
    border: none;
    outline: none;
    background-color: rgba(37, 37, 37, 0.648);
    color: #fff;
    border-radius: 20px;
    padding: 20px 30px;
    font-size: 2.4vh;
    font-weight: 100;
    padding-left: 40px;
}
#search-right{
    position: relative;
}
#search-left i{
    font-size: 25px;
    color: #dadada;
}
#search-right i{
    color: #dadada;
    position: absolute;
    z-index: 200;
    top: 30%;
    left: 2%;
    transform: translateY('-50%');
    cursor: pointer;
}

#images{
    height: 30%;
    /* background-color: chartreuse; */
    position: relative;
}

#img-container{
    height: 95%;
    width: 95%;
    /* background-color: salmon; */
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    box-shadow: 0 0 10px rgba(234, 225, 225, 0.804);
}
#img-container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
}

#songs{
    height: 45%;
    /* background-color: sienna; */
    display: flex;
    flex-direction: column;
    color: #dadada;
    font-size: 15px;
}
#title h1{
    font-size: 25px;
}
#title{
    height: 10%;
    /* background-color: #fff; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
}
#carts{
    height: 90%;
    /* background-color: #ff7272; */
    /* text-align: center; */
}
#carts-heading{
    height: 10%;
    display: flex;
    justify-content: space-between;
    /* background-color: #5f5d5d; */
    align-items: center;
    padding-left:20px ;
}
#carts-heading #playing{
    padding-left: 130px;
}
.carts-elem{
    height: 22%;
    display: flex;
    justify-content:space-between;
    /* background-color: #dadada; */
    align-items: center;
    padding-left:20px ;
}

#song-img{
    height: 40px;
    width: 40px;
    /* background-color: #fff; */
    border-radius: 5px;
}
#song-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 4px;
}

#player{
    height: 15%;
    background-color: aquamarine;
}

#right{
    height: 100%;
    width: 25%;
    /* background-color: burlywood; */
}


